.header-column1 img{
    position:relative;
    display: inline-block;
    padding-top: 10px;
    vertical-align:top;
    width: 250px;
    height:40px;
    margin: 0 auto;
}
.header-column1{
    padding-top: 10px;
    border-bottom: 2px solid #D52341;
    width: 1280px;
    margin: 0 auto;
    height: 70px;
    background-color: #fff;
}
.header-search{
    padding: 0 0 0 60px;
    height: 35px;
    display: inline-block;
}
.header-search input{
    height: 35px;
}

.header-search input[name="searchText"]{
    width:500px;
    font-size: 18px;
    color: #333;
    border: 1px solid #D52341;
}
.header-search input[name="searchSubmit"]{
    width:120px;
    background-color: #f8f8f8;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #D52341;
}
.header-search input[name="searchSubmit"]:hover{
    color: #D52341;

}
.header-search select{
    font-size: 18px;
    border: 1px solid #D52341;
    height: 35px;
    width:150px;
}
.header-popular{
    height: 35px;
    font-size: 15px;
}
.header-popular a{
    color: #D52341;
    margin-left: 10px;
    display: inline-block;
}
.header-popular a:hover{
    color: #ccc;
}
.header-popular p{
    color: #D52341;
    display: inline-block;
}
.header-down{
    font-size: 40px;
    position: absolute;
    right: 2%;
}